Package: set-distinct-hostname
Version: 0.6-1
Section: contrib
Priority: optional
Architecture: all
Depends: bash (>= 4.4), coreutils, grep, net-tools, sed, systemd
Maintainer: inwit@lehigh.edu
Description: Set a distinct hostname based on a default/defined prefix and last half of default route interface's MAC address (uppercase and with ':' removed).
