# /etc/systemd/system/set-distinct-hostname.service

[Unit]
DefaultDependencies=false
#ConditionPathExists=|!/etc/hostname
Before=network-pre.target
Wants=network-pre.target
After=local-fs.target
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/set-distinct-hostname-service
ExecStart=/bin/bash /usr/local/sbin/set-distinct-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=network.target
